 <table>
    <thead>
        <tr>
            <th>N.</th>
            <th>Title</th>
            <th>Descripcion</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
            <tr>
                <td>{{@index}}</td>  
                <td>{{title}}</td>  
                <td> {{description}}</td>      
                <td>
                    {{#if done}}
                    <button><a href="/toggleDone/{{_id}}">Undone</a></button>
                    {{else}}
                    <button><a href="/toggleDone/{{_id}}">Done</a></button>
                    {{/if}}
                    <button><a href="/edit/{{_id}}">edit</a></button>
                    <button><a href="/delete/{{_id}}">Delete</a></button>
                </td>
            </tr>
        {{/each}}
    </tbody>
   </table>